---
layout: default
---
<article id="post-page">
  <div class="parent f-right">
  </div>
  
  <h2>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h2>		
	<div class="by-line parent">
    <time datetime="{{ page.date | date_to_xmlschema }}"> <i>{{ page.date | date_to_string }}</i> </time>
    &nbsp;&nbsp; &middot; &nbsp;&nbsp;
    <span><i>{{ page.duration }}</i> </span>
  </div>
	<div class="content">

		{{ content }}
		
  </div>

  <div class="parent f-right">

  </div>

</article>

